body {
    font-family: "PT Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'PT Sans', sans-serif;
}

p {
    font-size: 18px !important;
    font-family: 'PT Sans', sans-serif;
}

.features-padding{
    padding: 6rem;
}

.link-style {   
    color: #176087; 
    text-decoration: none; 
  }
  
.link-style:hover {
    text-decoration: underline;
}

.link-button {
    margin-top: 35px;
    display: inline-block;
    border-radius: 20px;
    background-color: #176087;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 30px;
    text-align: center;
    color: white;
}

.link-button:hover{
    opacity: 0.8;
}


.main-nav-dropdown .dropdown-toggle{
    color: white;
    font-weight: bold;
}

.main-nav-dropdown .dropdown-toggle.show{
    color: white;
    font-weight: bold;
}

.side-nav-link{
    color: white;
    text-decoration: none
}

.offcanvas .btn-close {
    filter: invert(1);
  }

.meal-list.active {
    background-color: #507DBC;
}


.radio-background {
    background-color: #DAE3E5;
    flex: 1;               /* Make both radio options equally wide */
    height: 50px;    
}

.page-item.active .page-link {
    background-color: #DAE3E5;
    border: none;
  }

  


.food-entry-details-link{
    padding: 0;
    color: #176087;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.food-entry-details-link:hover{
    background-color: transparent;
    color: rgb(23, 96, 135, 0.6);
}


.food-entry-favourites-button{
    padding: 0;
    color: #176087;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.food-entry-favourites-button:hover{
    background-color: transparent;
    color: rgb(23, 96, 135, 0.6);
}

.food-entry-remove-button{
    padding: 0;
    color: red;
    background-color: transparent;
    border: none;
    text-decoration: underline;
  }

.food-entry-remove-button:hover{
    background-color: transparent;
    color: rgb(255, 0, 0, 0.6);
  }









